<style type="text/css" > 

    input[type="text"],
    input[type="password"],
    input[type="email"] {
    border: 1px solid dashed;
    background-color: rgb(221, 216, 212);
    width: 480px;
    padding: 0.5em;
    font-size: 1em;
    }

    input[type="Submit"]{
        color: white;
        font-size: 1em;
        font-family: 'Times New Roman', Times, serif;
        width: 200px;
        height: 40px;
        background-color: #1d3557;
        border: 5px solid;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-color: #48cae4;
        font-weight: bold;
        float: right;
        margin-top: 10px;
    }

    div#centerpage{
        width: 500px;
        margin: 0 auto;
    }

    .FieldInfo{
        color: #1d3557;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
    }
</style>